header {
    background-color: #444;
    width: 100%;
    color: #fff;
}

header img {
    float: left;
}

footer {
    background-color: #444;
    width: 100%;
    color: #fff;
    height: 100px;
}

footer p {
    text-align: right;
}