div.book-view {
    position: relative;
    margin: 10px;
}

div.book-view img {
    width: 100%;
}

div.book-view ul {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #444;
    padding: 5px;
}

#form-view, #error-message, #about-us, #detail-view {
    display: none;
}

.icon-menu {
    font-size: 3em;
    text-align: right;
}

.main-nav {
    padding: 0.1em;
    display:block;
}

.main-nav ul {
    display: none;
    padding: 0;
    list-style: none;
    clear: both;
}

.main-nav:hover ul {
    display: block;
}

.main-nav li {
    margin-right: .4em;
    font-size: 1.5em;
    padding: .5em .2em;
    border-bottom: 1px solid #ccc;
}

#count {
    clear: both;
}