div.book-view {
    position: relative;
    margin: 10px;
}

div.book-view img {
    width: 100%;
}

div.book-view ul {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #444;
    padding: 5px;
}

/* #book-form {
    display:none;
}    for testing  */

#about-us {
    display: none;
}